<p>
  Beschreibung:
</p>
<p>
  Diese Applikation wurde mit dem Progressive Web App Framework und dem Angular Framework entwickelt.
  Beim Wechsel in den zweiten Tab werden 10000 Testdaten generiert.
  Zum Starten des Tests muss der "Test starten"-Button gedrückt werden.
  Um den Test erneut durchführen zu können, kann der "Test zurücksetzten"-Button gedrückt werden, welcher erneut 10000 Testdaten erzeugt.
  Im dritten Tab kann die native Hardware des mobilen Endgerätes getestet werden.
  Um die Standortdaten abzufragen muss der "Geodaten anzeigen"-Button gedrückt werden.
  Die Applikation muss jedoch über eine sichere Verbindung aufgerufen werden um die Standortdaten abfragen zu können.
  Mit dem "Foto aufnehmen"-Button wird die Kamera geöffnet und ein Foto kann aufgenommen werden.
  Um den Inhalt einer Textdatei anzeigen zu lassen kann eine Datei über die Schaltfläche ausgewählt werden.
</p>
